.miko_block {
	border: 1px dashed #000080;
	padding: 2px 3px;
}

.miko_solid { border-color: #6F6 !important; }
.miko_reset {
	padding: 0;
	margin: 0;
	border: 0;
}
.miko_block:hover { border-style: solid; cursor: text; }

.miko_document {
	padding: 0;
	margin: 0;
}
