<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="/simple.css" type="text/css" />
	<title>Miko CMS</title>
	<!-- This will include miko cms assets -->
	<%= head %>
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>Miko CMS</h1>
		</header>
		<nav>
			<ul>
				<li><a href="/">Page 1</a></li>
				<li><a href="/page/2">Page 2</a></li>
				<li><a href="/page/3">Page 3</a></li>
			</ul>
		</nav>
		
		<section>
			<article>
				<!-- This will create content that will depend on page -->
				<%= content :body %>
			</article>
		</section>
		
		<footer>
			<!-- This will create solid content box that will be the same on all pages -->
			<%= content :about, true %>
		</footer>
	</div>
</body>
</html>